
ion-fab-button{
    font-size: 23px;
}

.fab-volver{
    margin-bottom: 15px;
}

#theme-selected
{
    margin-top: 12px;
    margin-left: 5px;
}

#language-selected
{
    margin-top: 12px;
    margin-right: 5px;
}

#redireccionador-selected{
     margin-bottom: 2px;
    margin-left: 5px;
}
.container-header{
    background-color: #95b8f6;
    border-bottom: 2px solid rgb(255, 255, 255);
    text-align: center;
}

.img-idioma{
    width: 100%;//100%!important; // 20%
}

ion-img {
    width: 30%;//100%!important; // 20%
    background-repeat: no-repeat;
    background-size: cover;

    background-position: 50%;
    border-radius: 10%;
    background-size: 100% auto;
}




// .img-tema:hover {
//     box-shadow: 0 0 15px #fa5149;
// }

.content-color{
    background-color: rgb(178, 255, 178);
}


.img-animal{
    width: 70%;
    box-shadow: 0 0 15px #61c788;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}
img{
    width: 20px;
}

img, .img-animal{
    background-color: rgb(22, 22, 22);
    width: 80%;

}

.al-lado-vertical{
    display: inline-block;
    padding: 2px;
    // margin: 10px 10px;
}

.container-idiomas{
    margin: 10px 0px;
}

.container-temas{
    margin: 10px 0px;
}

.container-animal{
    background-image: url('../../assets/images/fondoSelva.jpg');
    background-size: cover; /* Hace que la imagen de fondo cubra todo el div */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    width: 100%; /* Asegura que el div ocupe el 100% del ancho */
    height: 100vh; /* Asegura que el div ocupe el 100% de la altura de la ventana */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 5px;
}

.div-animal{
    display: flex;
    // width: 130px;
    // height: 130px;
    // margin: 0 auto;
    // margin-top: 7px;
    overflow: hidden;
    justify-content: center;
    text-align:center;
    height: 20%;
    width: 105%;

    align-content: center;
    flex-wrap: wrap;
}
.container-animal-hijo{
    height: 100%;
    display: flex;
    padding-top: 20px;
}
.img-animal {
    width: 52%;
    height: 90%;
  }

.container-color{
    text-align: center;
    height: 100%;
}

.container-numero{
    text-align: center;
    height: 100%;
    // background: #ffaaaa;
    background: #61c788;
    color: black;
}

.div-color{
    width: 100%;
    height: 20%;
}



.div-numero{
    font-size: 120px;
    width: 100%;
    height: 20%;

    box-shadow: 0 0 15px rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 5px;

    align-content: center;
}




@media (max-width: 376px ) {
    .div-numero{
        font-size: 70px;
        align-content: center;
    }
    // .img-animal{
    //     width: 30%;
    // }

    // .container-animal{
    //     margin-top: 10%;
    //     height: 75%;
    // }


}


@media (max-height: 510px) or (max-width: 250px){
    .div-numero{
        font-weight: 700;
        font-size: 70px;
    }
    .img-animal{
        width: 10%;
    }
    .container-animal{
        display: none;
    }
   

    #container-animal-responsive {
        display: block;
        height: 95vh;
        background-image: url('../../assets/images/fondoSelva.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        text-align: center; 
        overflow: hidden; 
    }

    #main-grid2 {
        display: flex; 
        flex-direction: column; /* Alinear los elementos verticalmente */
        height: 100%; /* Ocupar toda la altura del contenedor */
    }

   #main-grid2 img {
        max-width: 200px; /* Ancho máximo de la imagen */
        max-height: 150px; /* Altura máxima de la imagen */
        width: auto; /* Permite que la imagen se ajuste proporcionalmente al ancho máximo */
        height: auto; /* Permite que la imagen se ajuste proporcionalmente a la altura máxima */
    }

    .fila {
        flex: 1; /* Hace que las filas ocupen el espacio disponible */
        display: flex; 
        justify-content: space-around; /* Distribuir uniformemente los elementos */
        align-items: center; /* Centrar los elementos verticalmente */
    }

    .celda {
        flex: 1; /* Hace que las celdas ocupen el espacio disponible */
        display: flex; 
        justify-content: center; /* Centrar los elementos horizontalmente */
        align-items: center; /* Centrar los elementos verticalmente */
    }

    .item-invertido {
        max-width: 100%; /* Ajusta el ancho máximo al tamaño del contenedor */
        max-height: 100%; /* Ajusta la altura máxima al tamaño del contenedor */
        width: auto; /* Permite que la imagen se ajuste proporcionalmente al ancho máximo */
        height: auto; /* Permite que la imagen se ajuste proporcionalmente a la altura máxima */

        box-shadow: 0 0 15px #61c788;
        border: 1px solid white;
        border-radius: 10px;
        padding: 5px;
    }

}

@media (max-height: 390px) {
    .div-numero{
        font-size: 40px;
    }


}

@media (max-height: 330px) {
    .div-numero{
        font-size: 30px;
    }
}

//--------------------------------------------
// CELULAR ACOSTADO

@media (min-width: 500px) and (max-width: 800px)
{
    #header-card
    {
        height: 3.5rem;
        margin-top: 0.5rem;
    }

    #main-grid
    {
        display: none;
    }

    #main-grid2
    {
        display: block;
        // height: 100%;
    }
}

@media (min-width: 300px) and (max-width: 499px)
{
    // muestro vertical
    #main-grid
    {
        display: block;
    }

    // escondo horizonal
    #main-grid2
    {
        display: none;
    }
}




.celda {
  width: 40%;
  padding: 5px;
}


.iluminar{
    box-shadow: 0 0 10px rgb(255, 255, 255);
    border-radius: 45%;
}

// .seleccionado {
//     box-shadow: 0 0 15px #00ff2a;
//     border-radius: 45%;
// }



