<ion-content>
  <ion-grid class="grid1">
      <ion-row class="row1">
      </ion-row>
  </ion-grid>
  
  <ion-slide>
      <div class="contaier-login">
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <h1>Iniciar Sesión</h1>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list> 
                          <ion-item>
                              <ion-icon name="person-outline" class="icon-login"></ion-icon>
                              <ion-input name="email" type="text" required placeholder="Correo electrónico"></ion-input>
                          </ion-item>
                          <br />
                          <ion-item>
                              <ion-icon name="lock-closed-outline" class="icon-login"></ion-icon>
                              <ion-input name="password" type="password" required placeholder="Contraseña"></ion-input>
                          </ion-item>
                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-button type="submit" fill="solid" expand="full">
                          Entrar
                      </ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </div>
  </ion-slide>