#body
{
    background: black;
    background-color:  linear-gradient(332deg, rgba(0,0,0,1) 0%, rgba(114,0,0,1) 50%, rgba(252,176,69,1) 100%);
    text-align: center;
}

#main-card
{
    background: black;
    height: 97%;
}

#main2-card
{
    height: 97%;
    background: rgb(122,119,123);
    background: linear-gradient(332deg, rgba(0,0,0,1) 0%, rgba(114,0,0,1) 50%, rgba(252,176,69,1) 100%);
    color:white!important;
}

#selector-magico
{
    background-color: #000000;
    margin-top: 1rem;
    color: white;

    text-align: center;
    width: 80%;
    margin-left: 10%;
    font-size: 16px;
}

#main-card-2
{
    margin-top: 3rem;
    height: 50%;
    color: white;
    text-align: center;
}

#card-main-content
{
    margin-top: 60px;
    font-size: 20px;
    width: 100%;
}

#main-card-header
{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-top: 20%;
}

#mail,#password
{
    margin-top: 1rem;
    margin-right: 5px;
    color: white;

}

#selector-magico
{
    color: white;
    margin-top: 20px;
    height: 60px;
    width: 80%;
    margin-right: 5px;
    font-size: 20px;

}

#btnIngresar, #btnRegistrarse
{
    color: white;
    margin-top: 20px;
    height: 50px;
    width: 80%;
    margin-right: 5px;
    font-size: 20px;

}

#txtError 
{
  margin-top: 15px;
  color: rgb(255, 255, 255);
  background: rgb(255, 0, 0);
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 3.5px;
  font-weight: 600;
  font-size: 20px;
}

#txtSatisfaccion
{
  font-size: 20px;
  margin-top: 15px;
  color: green;
  margin-bottom: 3.5px;
}
