body{
    color: #000000;
    font-weight: 900;
    background-color: #ffee00;
}
.label-bottom{
    margin-bottom: 40%;
}

.label-top{
    margin-top: 40%;
}

ion-label{
    font-size: 25px;
}

// @keyframes slide-in-left{0%{transform:translateX(-1000px);opacity:0}100%{transform:translateX(0);opacity:1}}
@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
.container{
  -webkit-animation:rotate-center 2s ease-in-out both;animation:rotate-center 2s ease-in-out both
    // animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94) both;
    ;
    img{
         margin: 20%;
        width:  50%;
    }
}

.container-label{
    margin-bottom: 10px;
}
