<body id="body">

  <ion-header >
    <ion-toolbar color="danger">
      <ion-title align="center">ESCANEA TU CÓDIGO</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-title align="center"></ion-title>
  <ion-row class="row-botones">
    <ion-col class="col-botones" >
      <button *ngIf="!muestroSpinner" class="btn-limpiar" (click)="limpiarCreditosDB()" expand="block">
        SETEAR MIS CRÉDITOS
      </button>
      <!-- <ion-label style="color: black;">
        qr:{{qrLeido}} 
      </ion-label> -->
    </ion-col>
    
    
    <ion-row class="row-saldo">

      <ion-spinner style="left: 0px;right: 0px; margin:auto;background-color: 
  transparent; padding:10%; " color="danger" *ngIf="muestroSpinner" name="crescent"></ion-spinner>
    </ion-row>
    <ion-col class="col-saldo" *ngIf="!muestroSpinner">
      <ion-label class="label-email">
        {{this.authService.emailUser}}
      </ion-label>
      <ion-label class="label-saldo">
        CRÉDITOS: 
      </ion-label>
        <ion-label class="label-saldo-monto">
          {{this.creditoUserLog.creditos}} 
        </ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="row-error" *ngIf="errorMsj">
    <ion-col class="col-error">
      <ion-label class="label-error">
        {{errorMsj}}
      </ion-label>
    </ion-col>
  </ion-row>

  
  <ion-row>
    <ion-col>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col align="center">

    </ion-col>
  </ion-row>
    

</body>

<ion-fab class="redireccionador" vertical="top" horizontal="start" slot="fixed" (click)="signOff()">
  <ion-fab-button color="medium">
    <ion-icon name="arrow-back-sharp"></ion-icon>
  </ion-fab-button>
</ion-fab>


<ion-fab *ngIf="!muestroSpinner" class="redireccionador" vertical="bottom" horizontal="center" slot="fixed" (click)="scan()" style="margin-bottom:10px">
  <ion-fab-button color="danger">
    <ion-icon style=" height:40px; width:40px" name="qr-code-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>


