#body
{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 11%, rgba(231,231,231,1) 28%, rgba(0,142,255,1) 100%);
  text-align: center;
  align-items: center;
  justify-content: center;
}

#main-container
{
  margin-top: 50%;
  color: rgb(0, 0, 0);
}

img
{
  width: 50%;
}
