#body
{
    background-color: #00ffbb;
    text-align: center;
}
.center-span{
    display: block;
    text-align:center
}
ion-header  {
    background: #260d0d;
    color: white;
}
#formulario{
    background: #260d0d;
    border-radius: 20px;
    color: black;
    padding: 20px;
    margin: 0px 15px;
    height: 100%;
    color: white;
}
#col-accesos{
    margin-top: 50px;
    height: 50px
}
.lbl-error{
    margin: 10px 0px;
    color:red;
    align-items: center;
    text-shadow: 0px 0px 20px #00ffbb;
}

.btn-acceso{
    display: block;
}

img{
    border-radius: 50%;
}

ion-col{
    align-items: center;
    text-align: center;
}

.item-spinner{
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.row-error{
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.col-error
{
    padding: 10px;
    margin-bottom: -30px!important;

}

.btn-acceso{
    margin: 10px 0px
}