#body
{
  background-color: #260d0d;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#arriba{
margin-bottom: 50px;
}
#abajo{
    margin-top: 50px;
}

#main-container
{
  margin-top: 50%;
  color: rgb(255, 255, 255);
}

img
{
  width: 50%;
}
