#body
{
    background-color: #260d0d;
    text-align: center;
}
h4{
    background-color: #a05941;
    color: white;
}

#graphs{
    background-color: #a05941;
}

ion-card{
    background-color: #a05941;
}

#main-tittle
{
    color: white;
    font-size: 40px;
    font-weight: 600;
    background-color: #3fec00;
    border-radius: 20px;
    padding-bottom: 5px;
}

.main-button
{
    margin-bottom: 1rem;
    width: 40%;
    --border-radius: 12px;
}

#main-container
{
    border-radius: 20px;
}

.chartjs-block{
    position: relative;
    margin: auto;
}

ion-header{
    text-align: center;
}