<body id="body">

  <ion-header >
    <ion-toolbar color="danger">
      <ion-title align="center">CARGA DE CRÉDITO</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>

  <form id="formulario">
    <ion-row>
      <ion-col>
          <ion-img src="../../assets/logo.png" style="left:0px; right:0px;margin:auto;width: 70%"></ion-img>
        </ion-col>
    </ion-row>
    <ion-item style="margin-top: 20px;border-radius: 10px;" color="danger" lines="full">
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" 
      [(ngModel)]="this.email" 
      [ngModelOptions]="{standalone: true}" 
      required placeholder="ejemplo@ejemplo.com"
    ></ion-input>
    </ion-item>
    
    <ion-item style="margin-top: 10px;border-radius: 10px;" color="danger" lines="full">
      <ion-label position="floating" >Contraseña</ion-label>
      <ion-input type="password" 
      [(ngModel)]="this.password" 
      [ngModelOptions]="{standalone: true}"
      required placeholder=""
      ></ion-input>
    </ion-item>
    
    <ion-row *ngIf="validaLogin != ''" class="row-error">
      <ion-col class="col-error">
        <label class="lbl-error" mode="md">{{validaLogin}}</label>
      </ion-col>
    </ion-row>
    <br>
    <br>
    
    <ion-row *ngIf="muestroSpinner" class="item-spinner">
      <ion-col>
        <ion-spinner color="danger" name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
    
    <ion-row *ngIf="!muestroSpinner">
      <ion-col>
        <ion-button style="margin-bottom: 10px;" [disabled]="!email || !password" color="medium" (click)="onSpinnerLogin()" expand="block">
          Iniciar sesión
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align="center" color="danger">
        <!-- <ion-title style="margin: 15px 0px; color:black">Accesos:</ion-title> -->
        <ion-list color="danger">
          
          <ion-radio-group>
            <!-- <ion-item color="danger" >
              <ion-label>Administrador</ion-label>
              <ion-radio slot="end" value="strawberries" (click)="onLoginUsuarioAdministrador()"></ion-radio>
            </ion-item>
        
            <ion-item color="danger">
              <ion-label>Tester</ion-label>
              <ion-radio slot="end" value="grapes" (click)="onLoginUsuarioModerador()"></ion-radio>
            </ion-item>
        
            <ion-item color="danger">
              <ion-label>Invitado</ion-label>
              <ion-radio slot="end" value="pineapple" (click)="onLoginUsuarioComun()"></ion-radio>
            </ion-item> -->
          </ion-radio-group>
        </ion-list>

      </ion-col>
    </ion-row>


      <!-- <ion-item color="danger" style="text-align: center;">
        <ion-label>ACCESOS</ion-label>
      </ion-item> -->
    
  <ion-fab vertical="left" horizontal="start" slot="fixed" id="theme-selected-admin" *ngIf="!muestroSpinner  ">
    <ion-fab-button color="dark" id="theme-showed">ADMIN</ion-fab-button>
    <ion-fab-list >
      <ion-fab-button class="larger-fab" color="light" (click)="onLoginUsuarioAdministrador()">👨‍✈️</ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="center" horizontal="start" slot="fixed" id="theme-selected-moder" *ngIf="!muestroSpinner ">
    <ion-fab-button color="dark" id="theme-showed">MOD</ion-fab-button>
    <ion-fab-list >
      <ion-fab-button class="larger-fab" color="light" (click)="onLoginUsuarioModerador()">👨‍💻​</ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="right" horizontal="start" slot="fixed" id="theme-selected-invi" *ngIf="!muestroSpinner ">
    <ion-fab-button color="dark" id="theme-showed">INVI</ion-fab-button>
    <ion-fab-list >
      <ion-fab-button class="larger-fab" color="light" (click)="onLoginUsuarioComun()">👨‍💼​</ion-fab-button>
    </ion-fab-list>
  </ion-fab>


    
  </form>

</body>


